Django==3.2.25
asgiref
pytz
sqlparse
pillow
django-extensions
django-robots
django-debug-toolbar
django-taggit==1.5.1
django-summernote
django-simple-captcha==0.5.20
bleach
django-ranged-response
six
typing_extensions
webencodings
django-multi-captcha-admin
python-http-client
sendgrid
sendgrid-django





