{% load static %}
{% load accounts_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/signing2.css' %}">

</head>

<body>

    {% pass_change_message messages False %}

    <div class="text-center">
        <div class="container login-container">

            <div class="col-md-6 login-form-2 mx-auto">
                <h3>Login</h3>
                <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="username" name="username" class="form-control" placeholder="Username or Email *" required autofocus />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password *" required autofocus />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">

                        <a href="{% url 'accounts:forgotpassword' %}" class="ForgetPwd" value="Login">Forget Password?</a>
                    </div>
                </form>
            </div>


        </div>
    </div>

    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(function () {
            // Trigger the modal
            $('#success_tic').modal('show');
        });
    </script>

    <script>
        $(document).ready(function () {
            // Trigger the modal
            $('#failure_tic').modal('show');
        });
    </script>

</body>

</html>