{% load static %}
{% load accounts_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/forgotpass.css' %}">
    <link rel="stylesheet" href="{% static 'css/emailsent.css' %}">


</head>

<body>

    {% pass_change_message messages False %}

    {% if validLink %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Change password</h1>
                        <p class="lead">
                            Enter your new password.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <form action="{% url 'accounts:resetpassword' uidb64=uidb64 token=token %}"
                                    method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>New password</label>
                                        <input class="form-control form-control-lg" type="password" name="password1"
                                            placeholder="Enter password*">
                                    </div>
                                    <div class="form-group">
                                        <label>Repeat password</label>
                                        <input class="form-control form-control-lg" type="password" name="password2"
                                            placeholder="Enter password*">
                                    </div>
                                    <div class="text-center mt-3">
                                        <input type="submit" class="btn btn-lg btn-primary" value="Confirm">
                                        <!-- <button type="submit" class="btn btn-lg btn-primary">Reset password</button> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="thankyou-page">
        <div class="_header">
            <div class="logo">
                <img src="https://codexcourier.com/images/banner-logo.png" alt="">
            </div>
            <h1></h1>
        </div>
        <div class="_body">
            <div class="_box">
                <h2>
                    <strong>The password reset link </strong>is invalid or has expired.
                </h2>
                <p>
                    Try again if you still want to change your password.
                </p>
            </div>
        </div>
        <div class="_footer">
            <p>Wanna login with another user? <a href="{% url 'accounts:login' %}">here</a> </p>
            <a class="btn" href="{% url 'accounts:forgotpassword' %}">Change password</a>
        </div>
    </div>

    {% endif %}

    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(function(){
            // Trigger the modal
            $('#failure_tic').modal('show');
        });
    </script>

</body>

</html>